name: test

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-13

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.2'

    - name: Install dependencies
      run: |
        brew install -q autoconf automake make libtool gettext nasm flex gperf gnu-tar xz gsed
        HOMEBREW_PREFIX=$(brew --prefix)
        echo $HOMEBREW_PREFIX
        echo "$HOMEBREW_PREFIX/opt/make/libexec/gnubin" >> $GITHUB_PATH
        echo "$HOMEBREW_PREFIX/opt/libtool/libexec/gnubin" >> $GITHUB_PATH
        echo "$HOMEBREW_PREFIX/opt/flex/bin" >> $GITHUB_PATH
        pip3 install meson

    - name: Build
      run: |
        meson --version